/* Font */
@font-face {
    font-family: 'Jost';
    src: url('/fonts/Jost-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
}

/* Variables */

:root {
    --color-background: #1B1D2E;
    --color-foreground: #EAECFC;
    --color-border: #adadad;
    --color-primary: #e8c547;
    --color-text: black;
    --color-secondary: #71737e;
    --color-danger: #e05252;
    --color-danger-secondary: #e8d5e2;
    --color-danger-accent: #b33a3a;
    --color-alter: #1e8733;

    --scale-tranform: 1.15
}

/* Reset & base */

html {
    font-family: 'Jost', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text);
}

body {
    padding: 20px 40px 0 40px;
    font-size: 1.2rem;
}

* {
    margin: 0;
}

img {
    box-sizing: border-box;
}

/* Helpers */

.btn {
    font-size: 1.7rem;
    border: 2px solid var(--color-border);
    padding: 24px;
    border-radius: 6px;
    line-height: 0;

    transition: transform 0.31s ease;
}

.btn:not(:disabled):hover {
    filter: brightness(80%);
    transform: scale(var(--scale-tranform));
    cursor: pointer;
}

.btn img {
    width: 48px;
    height: 48px;
}

.btn--small {
    font-size: 1.2rem;
    padding: 6px !important;
}

.btn--small img {
    width: 38px;
    height: 38px;
}

.btn--primary {
    background-color: var(--color-primary);
}

.btn--danger {
    background-color: var(--color-danger);
}

.btn--alter {
    background-color: var(--color-alter);
}

.input {
    border-radius: 6px;
    border: 2px solid var(--color-border);
    padding: 8px;
}

.input--primary {
    font-size: 1.4em;
}

.input--alter {
    font-size: 1.4em;
    background-color: var(--color-foreground);
    border: none;
    border-bottom: 2px solid var(--color-border);
    border-radius: 0;
    outline: none;
}

.select {
    font-size: 1.5em;
    border-radius: 4px;
    padding: 8px;
    letter-spacing: 3px;
    text-align: center;
}

.select > optgroup {
    text-align: left;
    color: var(--color-background);
}

.select > optgroup > option {
    color: var(--color-text);
}

.select > optgroup > option:nth-child(even) {
    background-color: var(--color-border);
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 32px;
}

.form--horizontal {
    flex-direction: row;
}

.form--vertical {
    flex-direction: column;
}

.form label {
    font-size: 1.2em;
}

.hflex-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.hflex-container--align {
    justify-content: center;
    align-items: center;

}

.hflex-container--stretch {
    justify-content: center;
    align-items: stretch;
}

.equal-divide-container {
    display: grid;
    align-self: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.equal-divide-container__item {
    box-sizing: border-box;
}

.equal-divide-container__item--right {
    justify-self: flex-end;
}

.notice-box {
    background-color: var(--color-danger-secondary);
    border-left: 6px solid var(--color-danger-accent);
    color: var(--color-danger-accent);
    border-radius: 8px;
    padding: 24px;
    font-size: 1.2rem;
    box-shadow: 0 4px 10px #00000026;
    height: min-content;
    width: max-content;
}

.notice-box__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    color: var(--color-text);
    font-size: 1.5em;
    font-weight: 350;
}

.notice-box__item-name {
    font-weight: 600;
}

.notice-box__item-content {
    font-size: 0.7em;
}

.notice-box__title {
    font-size: 2em;
    font-weight: 500;
}

.alert {
    font-size: 1.2em;
}

.alert--error {
    color: var(--color-danger);
}

/* Animations */
@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* ... */
/* Navigation */
.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-primary);
}

.nav__logo {
    display: block;
    width: 72px;
    height: 72px;
}

.nav__links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    gap: 6px;

    transition: transform 0.31s ease;
}

.nav__item:hover {
    transform: scale(var(--scale-tranform));
}

.nav__item:link {
    color: inherit;
}

.nav__item:visited {
    color: inherit;
}

.nav__icon {
    width: 40px;
    height: 40px;
}

.nav__user {
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    gap: 10%;
}

.nav__user-logged-text {
    color: var(--color-secondary);
    font-size: 1.5em;
    text-align: right;
}

.nav__user-logged-text > span {
    color: var(--color-danger);
    max-width: min-content;
    display: inline-block;
}

.nav__user button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font: inherit;
    color: inherit;
}

/* Main content - card */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    background-color: var(--color-foreground);
    max-height: 70vh;
    gap: 20px;
    border-radius: 16px;
    padding: 50px;
    margin-top: 50px;
}

.card__title {
    font-weight: 800;
}

.card__title--error {
    color: var(--color-danger);
}

.card__tip {
    color: var(--color-secondary);
    font-size: 1.7em;
    font-weight: 500;
}

.game-overview {
    display: flex;
    justify-content: space-between;
    font-size: 1.6em;
    width: 100%;
}

.game-overview__info {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    color: var(--color-secondary);
}

.game-overview__word {
    text-align: center;
    font-weight: 800;
    font-size: 1.5em;
}

.game-overview__score {
    display: flex;
    align-items: center;
    justify-content: end;
}

.game-overview__info,
.game-overview__word,
.game-overview__score {
    flex: 1;
}

.game-controls {
    display: flex;
    margin-top: 20px;
    gap: 32px;
}

.word-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 32px;
}

.word-list__category {
    padding: 12px;
    border-radius: 4px;
    border: 4px solid var(--color-border);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

.word-list__category>ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.word-list__category-name {
    font-weight: 900;
    color: var(--color-background);
    padding-bottom: 4px;
    border-bottom: 1px solid var(--color-border);
    margin-bottom: 4px;
}

.word-list__item {
    display: flex;
    align-items: center;
    padding: 4px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--color-border);
    gap: 20px;

}

.word-list__word-name {
    font-weight: 400;
    max-width: min-content;
    min-width: 200px;
    font-size: 1.1em;

}

.summary-score {
    font-size: 3em;
    font-weight: 800;
    color: var(--color-danger);
}

/* Authentication */
.auth-wrapper {
    text-align: center;
    box-shadow: 8px 8px 10px var(--color-background);
    border: 12px solid var(--color-secondary);
    border-radius: 4px;
    padding: 32px;
}

.auth {
    gap: 10px !important;
    border-top: 1px solid var(--color-border);
    padding-top: 24px;
    margin-top: 10px;
}

.auth__fields {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    text-decoration: underline;
    text-underline-offset: 8px;
    gap: 40px 32px;
    margin-top: 8px;
}

.auth__fields>input {
    background-color: var(--color-background);
    color: var(--color-foreground);
    filter: saturate(50%);
}

.auth__fields>input:focus {
    outline: 2px solid var(--color-primary);
}

.auth__fields>input::placeholder {
    color: var(--color-foreground);
    filter: brightness(75%);
    font-size: 0.8em;
}

.auth__label {
    font-size: 1.4em !important;
    text-align: end;
}

.auth__button {
    font-weight: 600;
    margin-top: 20px;
    width: 100%;

    transition: transform 0.31s ease;
}

.auth__button:hover {
    transform: none !important;
}

.auth__tip {
    color: var(--color-secondary);
    filter: brightness(75%);
}

.auth__error {
    width: 100%;
    padding: 4px !important;
    border-radius: 4px !important;
    box-shadow:
        0 0 6px rgba(255, 0, 0, 0.6),
        0 0 12px rgba(255, 0, 0, 0.45),
        0 0 18px rgba(255, 0, 0, 0.35) !important;
    animation: fadeSlideIn 0.6s ease-out forwards;
}